* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #0B2434;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  background-color: #5035ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}